h1{
    text-align: center;
}
header{
    background-color: aliceblue;
    height: 100px;
}
nav{
    text-align: center;
}
img{
    width: 90px;
    height: 90px;
}
cite{
    float: right;
    padding: 40px;
    height: 30px;
}
aside{
    float: right;
    width: 50%;
}
#mainn{
    width: 50%;
}
main{
    width: 100%;
    height: 600px;
}
iframe{
    width: 100%;
    height: 100%;
}
ol,li,ul{
    list-style-type: none;
    display: inline-block;
}
label{
    width: 150px;
    display: inline-block;
    padding: 5px;
}
a{
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;
    text-decoration: none;
}
a:hover{
    transition-delay:0.5s ; 
    transition-duration:1.5s ; 
    text-shadow: 20px 15px 15px red ;

    
}
a:link{
    color: violet;
}
a:active{
    color: blue;
}
a:visited{
    color: red;
}
h1:hover{
    transition-delay:0.5s ; 
    transition-duration:1.5s ; 
    transform: rotate(40deg) skew(20deg);
}
h1:active{
    transform: scale(3)  translate(10%);

}
p:hover{
    text-transform: capitalize;
}
p:active{
    text-transform: uppercase;
}
/* #bod{
    background-image: url("img/360_F_579247368_aYncbxIxhLJZxC2bI70BHL7nLIdOR5OU.jpg");
    background-repeat: no-repeat;
} */
